@page "/"
@using e7_tower_scouting.Models

<div class="row mb-1">
    <div class="form-group">
        <label>Enemy:</label>
        <input class="form-control" type="text" @bind="fight.Name" />
    </div>
</div>
<div class="row mb-1">
    <input type="button" class="btn btn-primary" @onclick="Reset" value="Reset" />
</div>
<div class="row">
    <div class="col jumbotron mr-2">
        <div id="round-1">
            <h3>Round 1 @fight.Name</h3>
            <div class="row mb-1">
                <div class="col form-group">
                    <label>Your speed:</label>
                    <input class="form-control" type="text" @bind="fight.One.YourSpeed" />
                </div>
            </div>
            <table class="table table-primary table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Readiness</th>
                        <th scope="col">HP</th>
                        <th scope="col">Artifact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Name" @bind="fight.One.Enemy1.Name" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Readiness" @bind="fight.One.Enemy1.Readiness" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="HP" @bind="fight.One.Enemy1.HP" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Artifact" @bind="fight.One.Enemy1.Artifact" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Name" @bind="fight.One.Enemy2.Name" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Readiness" @bind="fight.One.Enemy2.Readiness" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="HP" @bind="fight.One.Enemy2.HP" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Artifact" @bind="fight.One.Enemy2.Artifact" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Name" @bind="fight.One.Enemy3.Name" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Readiness" @bind="fight.One.Enemy3.Readiness" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="HP" @bind="fight.One.Enemy3.HP" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Artifact" @bind="fight.One.Enemy3.Artifact" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row mb-2">
                <div class="col">
                    <input class="w-100 form-control" placeholder="Notes" @bind="fight.One.Notes" />
                </div>
            </div>
            <div class="row mb-1">
                <div class="card w-100">
                    <div class="card-header">
                        Copy all text below into Discord.
                    </div>
                    <div class="card-body">
<code style="white-space:pre;" class="w-100">```md
[@fight.Name](Round 1)
@fight.One.DiscordMarkdown
```</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col jumbotron">
        <div id="round-2">
            <h3>Round 2 @fight.Name</h3>
            <div class="row mb-1">
                <div class="col form-group">
                    <label>Your speed:</label>
                    <input class="form-control" type="text" @bind="fight.Two.YourSpeed" />
                </div>
            </div>
            <table class="table table-primary table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Readiness</th>
                        <th scope="col">HP</th>
                        <th scope="col">Artifact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Name" @bind="fight.Two.Enemy1.Name" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Readiness" @bind="fight.Two.Enemy1.Readiness" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="HP" @bind="fight.Two.Enemy1.HP" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Artifact" @bind="fight.Two.Enemy1.Artifact" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Name" @bind="fight.Two.Enemy2.Name" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Readiness" @bind="fight.Two.Enemy2.Readiness" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="HP" @bind="fight.Two.Enemy2.HP" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Artifact" @bind="fight.Two.Enemy2.Artifact" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Name" @bind="fight.Two.Enemy3.Name" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Readiness" @bind="fight.Two.Enemy3.Readiness" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="HP" @bind="fight.Two.Enemy3.HP" />
                        </td>
                        <td>
                            <input class="form-control-plaintext" type="text" placeholder="Artifact" @bind="fight.Two.Enemy3.Artifact" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row mb-2">
                <div class="col">
                    <input class="form-control w-100" placeholder="Notes" @bind="fight.Two.Notes" />
                </div>
            </div>
            <div class="row mb-1">
                <div class="card w-100">
                    <div class="card-header">
                        Copy all text below into Discord.
                    </div>
                    <div class="card-body">
<code style="white-space:pre;" class="w-100">```md
[@fight.Name](Round 2)
@fight.Two.DiscordMarkdown
```</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    private Fight fight = new Fight();

    private void Reset()
    {
        fight = new Fight();
    }
}